BASE_PATH=/space                        # OPTIONAL: Base URL path for the application. If not provided, SPACE will use "/" as default value.
JWT_SECRET=test_secret                  # OPTIONAL: JWT secret key. Use a strong, random secret in production
JWT_SALT=wgv~eb6v=VWwC9GIG1q6rZ]J.tUM(M # OPTIONAL: JWT salt for hashing. Use a strong, random salt in production
JWT_EXPIRATION=1d                       # OPTIONAL: JWT expiration time (in duration format, e.g., 1d, 2h). If not provided, SPACE will use "1h" as default value.