# -------------- GENERAL CONFIGURATION --------------

BASE_PATH=/space                                # OPTIONAL: Base URL path for the application. If not provided, SPACE will use "/" as default value.
ADMIN_USER=admin                                # OPTIONAL: Username for the default admin user. If not provided, SPACE will use "admin" as default value.
ADMIN_PASSWORD=space4all                        # OPTIONAL: Password for the default admin user. If not provided, SPACE will use "space4all" as default value.
ALLOWED_ORIGINS=http://localhost:3000           # OPTIONAL: Semicolon-separated list of allowed origins for CORS. If not provided, it defaults to "*".

# -------------- DATABASE CONFIGURATION (MongoDB) --------------

# If MONGO_URI is provided, this value will be ignored.
DATABASE_NAME=space_db                          # OPTIONAL: Database name. If not provided, SPACE will use "space_db" as default value.

DATABASE_ROOT_USERNAME=root                     # OPTIONAL: Database root username. If not provided, SPACE will use "root" as default value.
DATABASE_ROOT_PASSWORD=4dm1n                    # OPTIONAL: Database root password. If not provided, SPACE will use "4dm1n" as default value.

# If MONGO_URI is provided, this value will be ignored.
DATABASE_USERNAME=mongoUser                     # OPTIONAL: Database username. If not provided, SPACE will use "mongoUser" as default value.
# If MONGO_URI is provided, this value will be ignored.
DATABASE_PASSWORD=mongoPassword                 # OPTIONAL: Database password. If not provided, SPACE will use "mongoPassword" as default value.
MONGO_URI=mongodb://mongoUser:mongoPassword@mongodb:27017/space_db  # OPTIONAL: MongoDB connection string. If not provided, SPACE will 
                                                                    # use "mongodb://${dbCredentials}localhost:27017/${dbName}" as default 
                                                                    # value, where dbCredentials correspond to the formated version of 
                                                                    # DATABASE_USERNAME and DATABASE_PASSWORD, and dbName corresponds to DATABASE_NAME.

# -------------- REDIS CONFIGURATION --------------

REDIS_URL=redis://redis:6379                    # OPTIONAL: Redis URL for caching. If not provided, SPACE will use "redis://redis:6379" as default value, which corresponds to the instance deployed with the docker compose.

# -------------- JWT CONFIGURATION --------------

JWT_SECRET=test_secret                          # OPTIONAL: JWT secret key. Use a strong, random secret in production
JWT_SALT=wgv~eb6v=VWwC9GIG1q6rZ]J.tUM(M         # OPTIONAL: JWT salt for hashing. Use a strong, random salt in production
JWT_EXPIRATION=1h                               # OPTIONAL: JWT expiration time (in duration format, e.g., 1d, 2h). If not provided, SPACE will use "1h" as default value.

# -------------- FRONTEND CONFIGURATION --------------

ENVIRONMENT=production                          # OPTIONAL: Environment configuration to be used in the frontend. If not provided, it defaults to "production".
SPACE_HOST=http://localhost:5403                # OPTIONAL: Host URL where the SPACE API is running. If not provided, it defaults to "http://localhost:5403". Change this if your API is running in a different host or port, or if it's behind a proxy.
