apiVersion: v1
kind: Service
metadata:
  labels:
    app: mongodb
  name: mongodb-service
  namespace: space
spec:
  ports:
  - port: 27017
    targetPort: 27017
  selector:
    app: mongodb-pod
  type: ClusterIP